<li id="number-<%=number.id%>">
  <span class="content"><%= number.num %> <%= number.label %>   
  </span>
  <div class ="delete_number" style='text-align: right;'><%= link_to "Удалить", number, method: :delete, data: { confirm: "Удалить?" } %>                </div>   
</li>