<%= form_for(@number) do |f| %>
  <div class="field">
    <%= f.telephone_field :num, required: true, placeholder: "номер в формате хх-хх-ххххххх", pattern: "[0-9]{1,3}-[0-9]{1,3}-[0-9]{1,10}"%>
  </div>
 <div id = 'lab'>
 <%= f.select :label,  [['Мобильный', 'мобильный'], ['Служебный', 'служебный'], ['Домашний', 'домашний'], ['Другое', 4]] %>
</div>
  <%= f.submit "добавить", class: "button" %>
  <%= hidden_field_tag(:contact, @contact.id) %>
<% end %>

<script>

label = document.getElementById('number_label');
label.addEventListener("change", otherLabel);
function otherLabel() {
	div = document.createElement('div');
  	div.innerHTML = '<input name=number[label] id="number_l">';
  	if ($(this).val() == 4) {
	  	lab.append(div);
	  	} else {
	  		{
			if (removing_elem = document.getElementById("number_l")){
			removing_elem.remove();
			}
		}
  	}	
}

</script>