<li>
  <div class = "userinfo">
    <div class = "left">
      <%= image_tag contact.picture.url if contact.picture? %>
    </div>
    <div class = "right">
      <p><name><%= link_to contact.name, contact %></name></p>
      <p><number>☎<%= (contact.numbers.where("label IS ?", "Мобильный").first || contact.numbers.first).num if contact.numbers.any? %> 
      </number></p>
      <p><number> ✉ <%= contact.email %></number> </p>
    </div>
</div>
  
  
  <div class = "delete_cat" style='text-align: right;'><%= link_to "Выкинуть на мороз", contact, method: :delete,
                              data: { confirm: "Прямо выкинуть?" } %>                          	
   </div>
</li>