
<section class="contact_form">
  <div class="new_cat_form">
    <%= form_for(@contact,  html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages' %>
    <div id = "right">
      <%= f.label :Имя %>
      <%= f.text_field :name, placeholder: 'котика зовут...', class: 'form-control' %>

      <%= f.label :Почта %>
      <%= f.email_field :email, placeholder: 'котику можно написать...', class: 'form-control' %>
    </div>
      <div id = left>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "inputfile"%>
       <%= label_tag :contact_picture, "выберите картинку с котиком", id: "label" %>
      <p><%= f.submit "Добавить", class: "button" %></p></div>
    <% end %>  

  </div>

