<nav class="navbar navbar-light" >
  <%= form_with(url: "/contacts", method: "get", id: "contacts_search") do %>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Ищем котана!", :name => nil %>
<% end %>
</nav>

