
<% provide(:title, 'All contacts') %>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  <div class="container">
    <div class="row">
      <!-- Trigger the modal with a button -->
      <button type="button" class = "button" data-toggle="modal" background-color = "#9b73a3" data-target="#myModal">Добавить котика</button>

      <div class="modal custom-m" background-color = "#e3bec3" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body" background-color = "#e3bec3";>
              <%=render 'contacts/new' %>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>
<nav class="navbar navbar-light" >
 <%= render 'contacts/search_form' %>
</nav>
      

<div id="cats"><%=render 'contacts/list' %></div>

<script>
$('#cats').on('click', '.delete_cat', function() {
    $(this).closest('li').remove();
});
</script>

