<% provide(:title, "Изменить контакт") %>
<h1>Изменить контакт</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@contact) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :Имя %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Почта %>
      <%= f.email_field :email, class: 'form-control' %>

      <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

      <%= f.submit "Сохранить", class: "button" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#contact_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Оченно большая картинка. Надо меньше.');
    }
  });
</script>
