<% provide(:title, 'new contact') %>
<h1>Новый контакт</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@contact,  html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages' %>
    
      <%= f.label :Имя %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Почта %>
      <%= f.email_field :email, class: 'form-control' %>

      <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

      <%= f.submit "Создать", class: "button" %>
    <% end %>  

  </div>
</div>

