<% provide(:title, @contact.name) %>
<div class="row" style ="background-color: #f1dddf;">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag @contact.picture.url if @contact.picture? %>
      	<p>
          <%= @contact.name %>	
  	    </p>
  	    <p>
          <%= @contact.email %>
      	</p>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @contact.numbers.any? %>
      <ol class="numbers" id = "numbers">
        <%= render @numbers %>
      </ol>
    <% end %>
  </div>
</div>
  <li><%= link_to "Изменить", edit_contact_path(@contact) %></li>

 <section class="number_form">
      <%= render 'numbers/number_form' %>
</section>
 
<script>
$('#numbers').on('click', '.delete_number', function() {
    $(this).closest('li').remove();
});
</script>
