@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* universal */

body {

  background-color: #e3bec3;
  a {
  color: #9b73a3;
  }
}

button {
	background-color: #9b73a3;
	color: white;
	border: #f1dddf;
	padding: 8px 16px;
	font-size: 18px;
	max-width: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1 {
  font-size: 4em;
  color:  #f1dddf;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #f1dddf;
}

h3 {
	font-size: 4em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #9b73a3;
}

h4 {
	font-size: 4em;
  color:   #9b73a3;

}

#main{
	text-align: center;
	cats {
		font-size: 3em;
		color:   #9b73a3;
	}
}

#cats{
	.users{
		li{
			.userinfo{
			float: left;
				.left{
					float: left;
					width: 150px;
				}
				.right{
					float: right;
					margin: 0px;
					padding: 0px 10px 0px 15px;
					name{ 
						font-size: 3em;
						color:   #9b73a3;

					}
					number{
					font-size: 1.5em;
					color:   #9b73a3;
					}

				}
			}
		}
	}
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
}

.delete {
text-align: right;
}
}

.contact_form{
background-color: #e3bec3;
	.new_cat_form {
		#right{
		padding: 15px 15px 15px 15px;
		float: right;
			input {
			width: 100%;
			background-color: #f1dddf;
			border: solid 1px #9b73a3;
		    border-bottom: 4px #9b73a3;
		    font-size: 1.5em;
		    }
		}
	.button {
	background-color: #9b73a3;
	padding: 10px 10px;
	max-width: 150px;
	}
	}
	#left{
	padding: 15px 15px 15px 15px;
	float: left;
		#label {
	    font-size: 1.5em;
	    font-weight: 700;
	    color: black;
	    background-color: #f1dddf;
	    display: inline-block;
	    padding: 10px 10px;
	    width: 150px;
	    height: 150px;
	    border: solid 1px #9b73a3; 
	    cursor: pointer;
    	}
	}
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color:  #f1dddf;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
header {
	background-color: #9b73a3;

}

/* footer */

footer {
background-color: #f1dddf;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
  color: #555;
		&:hover {
		color: #222;
		}
	}
	small {
  	float: left;
	}
	ul {
	  float: right;
	  list-style: none;
	  li {
		  float: left;
		  margin-left: 15px;
		}
	}
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.avatar {
  float: left;
  margin-right: 10px;
}

.avatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  color: black;
  border: 1px solid #bbb;
  background-color: #f1dddf;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  background-color: #f1dddf;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* numbers */

.numbers {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .contact {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
}

.pagination {
    display: inline-block;
    a {
	    color: black;
	    float: left;
	    padding: 8px 16px;
	    text-decoration: none;
	    border: 1px solid #9b73a3;
	    background-color: #f1dddf
	    
	}
	.current {
	    background-color: #9b73a3;
	    color: white;
	    padding: 8px 16px;
	}
	span {
		    color: black;
		    float: left;
		    padding: 8px 16px;
		    text-decoration: none;
		    border: 1px solid #9b73a3;
		    background-color: #f1dddf
		   
		
	}
	}
	
	




