   <header class="navbar navbar-expand-lg navbar-dark">
       <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="<%= contacts_path %>"><h2>Контакты</h2> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= about_path %>"><h2>О приложении</h2></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= help_path %>"><h2>Помосчь</h2></a>
          </li>
        </ul>
      <div>
    </header>